/*header{
    text-align: center;
}

#home_btn{
    display: inline-block;
    text-align: end;
}

#title_div{
    display: inline-block;
    text-align: center;
}
h1{
    display: inline-block;
    margin-left:inherit;
    margin-right: 10px;
}*/